# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.metadata
mobile/android/
mobile/ios/
mobile/linux/
mobile/macos/
mobile/web/
mobile/windows/

# Node
backend/node_modules/

# Env
backend/.env
mobile/.env
